<key pressed
  key="Escape" 
  (keyPressed)="hideLists()">
</key>
<div 
  *ngIf="isVisible" 
  class="modal fade show in" 
  id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button 
          type="button" 
          class="close" 
          (click)="hideLists()"
          data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Mijn Woordenlijsten</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li 
            *ngFor="let list of userLists;let i= index;"
             class="list-group-item">
            {{listEditing===i? '' : list.name}}
            <edit-list-name
              *ngIf="listEditing===i"
              [name]="list.name"
              (updatedName)="updateListName($event)">
            </edit-list-name>
            <span 
              class="fa pull-right"
              [ngClass]="{
                'fa-star':isWordInList[i],
                'fa-star-o':!isWordInList[i]}"
              (click)="toggleInList(i)">
            </span>
            <span 
              class="fa fa-pencil pull-right"
              (click)="editListName(list, i)">
            </span>
            </li>
          <li 
            class="list-group-item"
            *ngIf="creatingNewList">
            <edit-list-name
              name=""
              (addNewList)="onNewListAdded($event)">
            </edit-list-name>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-primary" 
          (click)="saveLists()"
          [disabled]="!changesMade">
          Sla Wijzigingen op
        </button>
        <button 
          type="button" 
          class="btn btn-default" 
          (click)="createNewList()"
          [disabled]="creatingNewList"
          >
          Nieuwe Lijst
        </button>
      </div>
    </div>
  </div>
</div>