<div *ngIf="filtersLoaded" class="filter">
  <ul class="list-unstyled">
    <li>
      <select #level 
        class="form-control input-lg"
        (change)="onChangeFilter(level.value, wordtpe.value, cats.value)">
        <option value="-1" [selected]="'-1'==selected.level">Alle niveaus</option>
        <option 
          *ngFor="let level of filters.levels" [value]="level.val" [selected]="level.val==selected.level">
          {{level.label}}
        </option>
      </select>
    </li>
    <li>
      <select #wordtpe 
        class="form-control input-lg"
        (change)="onChangeFilter(level.value, wordtpe.value, cats.value)">
        <option value="all" [selected]="'all'==selected.tpe">Alle woordsoorten</option>
        <option 
          *ngFor="let tpe of filters.tpes" [value]="tpe.val" [selected]="tpe.val==selected.tpe">
          {{tpe.label}}
        </option>
      </select>
    </li>
    <li>
      <select #cats 
        class="form-control input-lg"
        (change)="onChangeFilter(level.value, wordtpe.value, cats.value)">
        <option value="all" [selected]="'all'==selected.cats">Alle categorieën</option>
        <option 
          *ngFor="let cat of filters.cats" [value]="cat.name" [selected]="cat.name==selected.cats">
          {{cat.name}} {{cat.name===cats.value ? '' : '(' + cat.total + ')'}}
        </option>
      </select>
    </li>
    <li>
      <div class="text-muted">Aantal woorden: <strong>{{totalWords}}</strong></div>
      <div class="buttons"> 
        <button *ngIf="filterTpe==='exercises'"
          class="btn btn-success btn-lg" 
          [disabled]="totalWords < 1"
          (click)="start('review', level.value, wordtpe.value, cats.value)">
        <span class="fa fa-play"></span>
          Overzicht
        </button>
        <button *ngIf="filterTpe==='exercises'"
          class="btn btn-success btn-lg" 
          [disabled]="totalWords < 1"
          (click)="start('practise', level.value, wordtpe.value, cats.value)">
        <span class="fa fa-play"></span>
          Oefen
        </button>
        <button *ngIf="filterTpe==='exercises'"
          class="btn btn-success btn-lg" 
          [disabled]="totalWords < 1"
          (click)="start('test', level.value, wordtpe.value, cats.value)">
        <span class="fa fa-play"></span>
          Start Test
        </button>
      </div>
    </li>
  </ul>
</div>