.calendar, .calendar-header {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}
.calendar-header-left, .calendar-header-right {
  width: 20%;
}
.calendar-header-title {
  text-align: center;
}
th {
  font-size: 20px;
  text-align: center;
}
td {
  vertical-align: text-top;
}
.cal-week .cal-day {
  background-color: #f6f6f6;
  border: 1px dotted #ccc;
  font-size: 18px;
  height: 100px;
  padding: 3px;
  text-align: right;
  width: 14%;
  border-radius: 4px;
}
.cal-day-content {
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #bbb;
  font-size: 20px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}
.cal-week .today {
  border: 1px dotted #333;
}
.cal-day-total {
  position: relative;
  top: 25%;
  color: white;
  text-shadow: 1px 1px #333;
  cursor: default;
}
.diffMonth {
  color: #ddd;
  font-style: italic;
}
.cal-week .green {
  background-color: #16d01a;
  background: -webkit-linear-gradient(135deg, #16d01a, #12ac16); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #16d01a, #12ac16); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #16d01a, #12ac16); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #16d01a, #12ac16); /* Standard syntax */
}
.cal-week .yellow {
  background-color: #fbf80e;
  background: -webkit-linear-gradient(135deg, #fbf80e, #dedc0c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #fbf80e, #dedc0c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #fbf80e, #dedc0c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #fbf80e, #dedc0c); /* Standard syntax */
}
.cal-week .red {
  background-color: #fb1515;
  background: -webkit-linear-gradient(135deg, #fb1515, #d21010); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #fb1515, #d21010); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #fb1515, #d21010); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #fb1515, #d21010); /* Standard syntax */
}
/*Tooltip*/
.tt-header {
  font-style: bold;
  color: #ffc520;
  padding:2px;
  margin-bottom: 2px;
}
