.wordwrapper {
  display: table;
  margin-top: 20px;
  margin-bottom: 20px;
}
.left {
  margin-left:10%;
}
.word {
  display: table-cell; 
  vertical-align: bottom;
}
h2.word {
  padding-left:3px;
}
em{
  color:#666;
}
.tall{
  font-size: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 9px;
  border: 1px solid #aaa;
  padding: 12px;
  max-width: 300px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.question {cursor:pointer;}
.answer .btn {margin:20px 6px 3px 3px;}
.score .buttons {margin-top:20px;}
.fa {margin-right:3px;}
.case {font-size:24px;}
.subword {font-size:14px;}
.margin {height:8px;}
