<div class="card center-block" (click)="turnCard()">
  <add-to-list [word]="card"></add-to-list>

<!-- Question -->

  <div class="question text-center">
    <card-question 
      [cardData]="getQuestionData()"
      [tpe]="card.tpe">
    </card-question>
  </div>

<!-- Answer -->

  <div class="answer" *ngIf="iseven">
    <card-answer
      [cardData]="getAnswerData(false)"
      [tpe]="card.tpe"
      [showPronoun]="settings.showPronoun">
    </card-answer>
  </div>
  <div class="answer" *ngIf="!iseven">
    <card-answer 
      [cardData]="getAnswerData(false)"
      [tpe]="card.tpe"
      [showPronoun]="settings.showPronoun">
    </card-answer>
  </div>

<!-- Perfective aspect -->

  <div class="clearfix" *ngIf="hasPerfective()">
    <card-answer 
      [cardData]="getAnswerData(true)"
      [tpe]="card.tpe"
      [showPronoun]="false">
    </card-answer>
  </div>

<!-- Buttons -->
  
  <button class="btn btn-primary" (click)="goBack()">
    <span class="fa fa-chevron-left"></span> Terug
  </button>

</div>